* {
    margin: 0;
    padding: 0;
}

#body {
    background-color: #FEFAE0;
    height: 1000px;
}


.card:hover {
    background-color: blue; 
    border-color: #007bff;
    
}
.card-body {
    padding: 10px;
}

.card-body:hover {
    background-color: blue; 
    border: 1px solid black;
    border-radius: 5px; 
    transform: scale(1.05);
    padding: 10px; 
}

.navbar {
    background-color: #023047;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
#nom {
    font-size: 20px;
    font-weight: bold;
    color: white; 
    margin-left: 30px;
    margin-right: auto;
}
.lien {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px; 
    padding: 5px 10px;
}

.o_footer_standard {
    background-color: #023047; 
    color: #d1d1d1; 
    height: 200px;
}
.o_footer_standard p, .o_footer_standard ul, .o_footer_standard li {
    color: #d1d1d1;  
    line-height: 1.5;
}

.o_footer_standard ul {
    padding: 0;
    list-style: none;
}

.o_footer_standard ul li {
    margin-bottom: 3px;
}

.o_footer_standard a {
    color: #d1d1d1; 
    text-decoration: none;
}

.o_footer_standard a:hover {
    color: white; 
}
.footer1 ul {
    list-style-type: none; 
    padding: 0;
}

.lien.active {
    font-weight: bold;
    border: 2px solid #FEFAE0;
    border-radius: 5px;
} 

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
    margin-left: 30px;

}
.fichier ul {
     list-style-type: none;
}